/* reset */
html, body {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}

p {
	margin: 0;
}

/* layout */
.header {
	z-index: 70000;
	height: 60px;
}

.main {
	z-index: 10000;
	height: auto;
	min-height: 100%;
	margin-top: -60px;
	margin-bottom: -180px;
	background-color: #F4F4F4;
}

.footer {
	z-index: 40000;
	height: 180px;
	background-color: #F3E9E4;
	text-align: center;
}

.container {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
}

/* =wrap */
.wrapper {
	padding-top: 60px;
	padding-bottom: 180px;
}

/* ==section */
.block {
	display: block;
	position: relative;
	z-index: 11000;
}

.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.divide {
	border-top: 1px solid #CCACAC;
}

.viewport {
	width: 840px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.hero {
	height: 300px;
	background-position: center;
	background-image: url('oocss.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    -ms-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.title {
	position: absolute;
	z-index: 11100;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 150px;
	line-height: 150px;
	margin: -75px 0 0 -120px;
	text-align: center;
	font-size: 28px;
	color: white;
}

.mask {
	background-color: rgba(20,20,20,0.6);
}

.line {
	line-height: 30px;
	font-size: 18px;
}

.subtitle {
	line-height: 40px;
	font-size: 24px;
}