/* base */
html, body {
	height: 100%;
	margin: 0;
}

p {
	margin: 0;
}

/* layout */
#header {
	z-index: 70000;
	height: 60px;
}

#main {
	z-index: 10000;
	height: auto;
	min-height: 100%;
	margin-top: -60px;
	margin-bottom: -180px;
}

#footer {
	z-index: 40000;
	height: 180px;
	text-align: center;
}

.l-container {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.l-wrapper {
	padding-top: 60px;
	padding-bottom: 180px;
}

/* module */
/* =hero  */
.hero {
	position: relative;
	z-index: 15000;
	height: 300px;
	background-image: url('');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    -ms-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.hero-title {
	position: absolute;
	z-index: 15100;
	top: 50%;
	left: 50%;
	width: 420px;
	height: 150px;
	line-height: 75px;
	margin: -75px 0 0 -210px;
	text-align: center;
	font-size: 28px;
}

/* =section */
.section {
	display: block;
	position: relative;
	z-index: 11000;
	width: 900px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.section:last-child {
	border-bottom: none;
}

.section-title {
	line-height: 40px;
	font-size: 24px;
}

.section-content p {
	line-height: 30px;
	font-size: 18px;
}

/* status */
.is-hover {
	background-color: gray!important;
}

/* theme */
#header {
	background-color: rgba(20,20,20,0.6);
}

#main {
	background-color: #F4F4F4;
}

#footer {
	background-color: #F3E9E4;
}

.hero-title {
	color: white;
	background-color: rgba(20,20,20,0.6);
}

.section {
	background-color: white;
	border-bottom-color: #CCACAC;
}
